body {
}

h1 {
    color: white;
    text-align: center;
}

input {
    border-radius: 3px;
    border: none;
    padding: 10px 40px;
    margin: 10px;
}

textarea {
    border-radius: 3px;
    border: none;
    padding: 10px 40px;
    margin: 10px;
}

button {
    background-color: #fceb3d;
    border: none;
    float: right;
    border-radius: 3px;
    margin-right: 100px;
    margin-top: 20px;
    padding: 25px;
}

.main-container {
    background-color: #11cfcf;
    overflow: auto;
    padding: 30px;

}

.float-container {
    width: 1200px;
    border: 3px;
    margin: 0 auto;
}

.float-child {
    width: 45%;
    position: relative;
    float: left;
    margin: 0 auto;
}  

.info {
    color: white;
    margin-top: 80px;
    margin-left: 120px;
    width: fit-content;
}

.forma {
    text-align: right;
}

.size1 {
    width: 65%;
}            

.size2 {
    width: 23%;
}            

.msgSize {
    width: 65%;
    height: 80px;
    resize: none;
}            

.txt {
    color: white;
}

.maps {
    color: #ffeb3d;
}

ul {
    padding-inline-start: 16px;
}