body {
    max-width: fit-content;
    justify-content: center;
    align-items: center;
    margin: 150px auto;
    background: #d4e6fe;
}

.GridBody {
    background-color: #fdfeff;
    display: block;
    align-self: center;
    justify-content: center;
    justify-items: center;
    max-height: fit-content;
    max-width: fit-content;
    margin: 5px auto;
    padding: 5px 60px;
}

.container {  display: grid;
    grid-auto-flow: dense;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 2fr;
    gap: 10px 10px;
    row-gap: 20px;
    column-gap: 20px;
    grid-auto-flow: row;
    grid-template-areas:
      "name lname"
      "email phone"
      "address address"
      "message message";
  }
  
.name { grid-area: name; }
.lname { grid-area: lname; }
.email { grid-area: email; }  
.phone { grid-area: phone; }  
.address { grid-area: address; }
.message { grid-area: message; }

input {
    border: none;
    border-radius: 10px;
    font-size: large;
    width: 250px;
    height: 40px;
    padding: 5px;
}

textarea {
    border: none;
    border-radius: 10px;
    font-size: large;
    height: 100%;
    padding: 5px;
    resize: none;
}

.lastInp {
    display: block;
    width: 99%}

.row1 {
    background-color: #e7e9ff;

}

.row2 {
    background-color: #dce1ff;
}

.row3 {
    background-color: #c7cdfd;

}

.row4 {
    background-color: #a5b1fd;
}

button {
    display:grid;
    justify-content: center;
    align-items: center;
    background-color: #233bf5;
    border: none;
    border-radius: 30px;
    color: white;
    padding: 20px 60px;
    text-align: center;
    font-size: 12px;
    margin: 40px auto;
    font-family: century-gothic, sans-serif;
  }

.txt {
    color: #a1e2cc;
    font-family: century-gothic, sans-serif;
}

h1 {
    color: #191ef0;
    font-family: century-gothic, sans-serif;
    font-weight: lighter;
}

::placeholder { 
    color: #233bf5;
    font-family: century-gothic, sans-serif;
    padding: 30px;
}


